body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.appContainer {
  padding: 1em;
}

.card.userCard {
  width: 45vw;
  height: 6em;
}

.userCard .card-body {
  padding: 0.75rem;
}
